.advantages {
  height: 596px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}

.advantages__title {
  text-align: center;
  margin-bottom: 25px;
  color: var(--black);
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.advantages__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-bottom: 60px;
}

.advantages__text-about {
  position: relative;
  color: var(--black);
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.advantages__text-about::before {
  position: absolute;
  content: "";
  background: var(--black);
  width: 43px;
  height: 2px;
  right: 81px;
  bottom: 11px;
}

.advantages__text-about::after {
  position: absolute;
  content: "";
  background: var(--black);
  width: 43px;
  height: 2px;
  left: 79px;
  bottom: 11px;
}

.advantages__text-desc {
  text-align: center;
  color: var(--black);
  max-width: 700px;
  font-size: 18px;
  line-height: 25px;
}

.advantages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.advantages__item {
  width: 196px;
  height: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item-digit {
  width: 122px;
  height: 122px;
  margin-bottom: 12px;
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--light-blue);
  color: var(--white);
  font-weight: 500;
  font-size: 57px;
}

.advantages__item-text {
  color: var(--black);
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.advantages__list-slider {
  display: none;
}

@media (max-width: 1024px) {
  .advantages {
    height: 565px;
  }

  .advantages__title {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 38px;
  }

  .advantages__text-wrapper {
    gap: 29px;
  }

  .advantages__text-about {
    padding-right: 3px;
    font-size: 20px;
    line-height: 23px;
  }
  .advantages__text-about::before {
    width: 40px;
    height: 2px;
    right: 75px;
  }

  .advantages__text-about::after {
    width: 40px;
    height: 2px;
    left: 73px;
  }

  .advantages__text-desc {
    padding: 0 10px;
    font-size: 16px;
    line-height: 23px;
  }

  .advantages__list {
    gap: 34px;
  }

  .advantages__item-text {
    padding-right: 2px;
    font-size: 18px;
    line-height: 25.31px;
  }

  .advantages__item-digit {
    padding-top: 2px;
    margin-bottom: 25px;
    width: 104px;
    height: 104px;
    font-size: 52px;
  }
}

@media (max-width: 320px) {
  .advantages {
    height: 510px;
    padding: 31px 0 60px 0;
  }

  .advantages__title {
    margin-bottom: 17px;
    padding-left: 5px;
    font-size: 20px;
    line-height: 23px;
  }

  .advantages__text-about {
    padding-left: 5px;
    font-size: 16px;
    line-height: 19px;
  }

  .advantages__text-about::before {
    width: 20px;
    height: 1px;
    right: 71px;
    bottom: 7px;
  }

  .advantages__text-about::after {
    width: 20px;
    height: 1px;
    left: 73px;
    bottom: 7px;
  }

  .advantages__text-desc {
    padding: 0 15px 0 12px;
    font-size: 12px;
    line-height: 17px;
  }

  .advantages__text-wrapper {
    margin-bottom: 41px;
  }

  .advantages__list {
    width: 175px;
    height: 182px;
    position: relative;
  }

  .advantages__item {
    padding-right: 5px;
    width: 180px;
    height: 100%;
    position: absolute;
    gap: 26px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .advantages__item-arrow {
    background-image: url("../img/donee-modified.png");
    background-size: contain;
    width: 39px;
    height: 39px;
    border-radius: 50%;
  }

  .arrow-prev {
    right: 199px;
    position: absolute;
    top: 72px;
    transform: rotate(180deg);
  }

  .arrow-next {
    left: 194px;
    position: absolute;
    top: 71px;
  }

  .advantages__item-arrow:hover {
    background-image: url("../img/arrow-white-modified.png");
    transform: rotate(180deg);
  }

  .arrow-prev:hover {
    transform: rotate(0deg);
  }

  .item-1 {
    z-index: 2;
    opacity: 1;
  }

  *:target ~ .item-1 {
    opacity: 0;
  }

  #item-1:target ~ .item-1 {
    opacity: 1;
  }

  #item-2:target ~ .item-2,
  #item-3:target ~ .item-3,
  #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }

  .advantages__item-text {
    font-size: 18px;
    line-height: 25px;
  }

  .advantages__item-digit {
    margin: 0;
    width: 104px;
    height: 104px;
    font-size: 52px;
  }
}
