.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 200px;
  background: var(--dark-blue);
}

.footer__title,
.footer__subtitle {
  order: 1;
}

.footer__text {
  padding: 0;
  order: 2;
}

.footer__img-wrapper {
  display: flex;
  align-items: center;
  gap: 19px;
}

.footer__title,
.footer__img-wrapper-desc {
  padding-top: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.subtitle-wrapper,
.footer__subtitle {
  display: none;
}

@media (max-width: 1024px) {
  .footer {
    padding: 38px 30px;
  }

  .footer__subtitle {
    display: initial;
    padding-right: 23px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
  }

  .footer__title {
    display: none;
  }

  .footer__img-wrapper-desc {
    font-size: 12px;
    line-height: 17px;
  }

  .footer__text {
    height: 44px;
    padding-right: 2px;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 620px) {
  .footer {
    padding: 25px 15px;
  }

  .footer__title {
    display: none;
  }

  .subtitle-wrapper {
    display: initial;
  }

  .footer__subtitle {
    display: none;
  }

  .subtitle-wrapper__text {
    font-size: 12px;
    line-height: 17px;
  }

  .subtitle-wrapper__text {
    padding: 17px 0;
    background: var(--dark-grey);
    background-size: cover;
    text-align: center;
    font-size: 12px;
    line-height: 17px;
  }

  .footer__img-wrapper-desc {
    min-width: 85px;
    font-size: 8px;
    line-height: 11px;
  }

  .footer__text {
    background-position: right;
  }

  .footer__subtitle {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .footer {
    height: 76px;
    padding: 25px 16px;
  }

  .footer__text {
    height: 100%;
  }

  .subtitle-wrapper__text {
    padding-right: 2px;
  }
}
