.home {
  height: 732px;
  padding: 40px 200px 128px 200px;
  background-image: url("../img/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.callback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.callback-phone {
  color: var(--white-);
  font-size: 24px;
  line-height: 27px;
}

.callback-text {
  position: relative;
  color: var(--white-);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.callback-text::after {
  position: absolute;
  content: "";
  top: 20px;
  right: 36px;
  width: 135px;
  height: 2px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 33px;
}

.home__content-title {
  text-align: center;
  padding: 0 5%;
  color: rgba(255, 255, 255, 0.86);
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
}

.home__content-text {
  width: 960px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 55px;
}

.home__content-button {
  width: 200px;
  height: 48px;
  color: var(--white-);
  background: var(--lightblue);
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
  border: none;
  border-radius: 50px;
}

.small-screen {
  display: none;
}

@media (max-width: 1024px) {
  .home {
    height: 528px;
    padding: 26px 31px 70px;
    background-image: url("../img/Background-home1024.jpg");
  }

  .home__header {
    margin-bottom: 70px;
  }

  .home__content {
    row-gap: 29px;
  }

  .home__content-text {
    margin-bottom: 26px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .callback {
    padding: 0 1px 4px 0;
    justify-content: space-evenly;
  }

  .callback-text {
    font-size: 13px;
    line-height: 15px;
  }

  .callback-phone {
    font-size: 21px;
    line-height: 25px;
  }

  .callback-text::after {
    width: 106px;
    top: 16px;
    right: 38px;
  }

  .home__content-title {
    -webkit-text-stroke: 0;
    text-shadow: none;
    font-size: 40px;
    line-height: 47px;
    max-width: 900px;
  }

  .home__content-text {
    max-width: 754px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 768px) {
  .home__content-text {
    max-width: fit-content;
  }
}

@media (max-width: 320px) {
  .home {
    height: 441px;
    padding: 15px 15px 65px 15px;
    background-image: url("../img/home-background320.jpg");
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .home__header {
    margin-bottom: 66px;
  }

  .callback {
    height: 30px;
    padding: 0;
    gap: 0;
    background-image: url("../img/home-phone.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  .callback-phone,
  .callback-text {
    visibility: hidden;
  }

  .home__content {
    row-gap: 25px;
  }

  .home__content-text {
    margin-bottom: 27px;
    min-width: 250px;
    font-size: 14px;
    line-height: 20px;
  }

  .home__content-button {
    width: 160px;
    height: 38px;
    font-size: 16px;
    line-height: 19px;
  }

  .home__content-title {
    font-size: 20px;
    line-height: 23px;
    max-width: 900px;
  }

  .large-screen {
    display: none;
  }

  .small-screen {
    display: inherit;
  }
}
