:root {
  --white: #ffff;
  --secondary-white: #f9f9f9;
  --black: #383a4c;
  --grey: rgba(255, 255, 255, 0.8);
  --lightblue: #15a9cb;
  --turquoise: #4a76a8;
  --dark-blue: #2f324b;
  --dark-grey: #2a2c3f;
}
